@{
  Layout = "_Layout";
}
<div class="container">
  <h3><a href="/animals">See Animal List</a></h3>
  <h3><a href="/animals/search">Search Animal by Type</a></h3>
  <h3><a href="/animals/new">Add a New Animal</a></h3>
</div>